Makefile.in
/aclocal.m4
/autom4te.cache/
/build-aux/
configure
Makefile
.deps/
config.log
config.status
libnfsidmap.pc
libtool
.libs/
libnfsidmap.la
nsswitch.la
static.la
umich_ldap.la
configure.in~
*.o
*.lo
cscope.*
config.h
config.h.in
stamp-h1
